h2{
    font-size: 24px;
}
#featured-section h2{
    color: #BF40BF;
}
.container>p{
    color:#A9A9A9;
}
#featured-section .text-content{
    color: white;
}
.text-content + p{
    font-style: italic;
}