*{
    margin: 0px;
}
.profile-card{
    width: 252px;
    padding: 20px;
    border:4px solid black;
}
.user-photo{
    width:80px;
    height: 80px;
    margin: 0px 0px 15px 0px;
    background:gray;
    border-radius: 50%;
    justify-self: center;
}
.profile-card h2{
    padding-bottom: 5px;
}
.profile-card p{
    padding-bottom: 20px;
}
#action-connect{
    width: 100%;
    color: aliceblue;
    background-color:blue;
}
#action-connect:hover{
    background-color: darkblue;
}